body {
    background-color: #363636;
}

header {
    background-color: #666666;
}

.Logo {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

div {
    background-color: #363636;
    text-align: center;
    font-size: 100px;
    size: 20px;
    margin: 50px;
}

a {
    border: solid #295bb8;
    border-radius: 15px;
    background-color: #295bb8;
    font-size: 30px;
    text-decoration: none;
    color: azure;
}

a:hover {
    border: solid #87CEEB;
    border-radius: 15px;
    background-color: #87CEEB;
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
    font-size: 18px;
    transition: font-size .1s ease-in-out;
}

.btn1 {
    padding-right: 5px;
    padding-left: 5px;
}

.btn2 {
    padding-right: 33px;
    padding-left: 33px;
}

.btn3 {
    padding-right: 45px;
    padding-left: 45px;
}